@import "tailwindcss";
@plugin 'tailwind-scrollbar' {
    nocompatible: true;
    preferredStrategy: 'pseudoelements';
    
}
@theme {
    --color-primary: #fe2c55;
}

.hidden-scroll-bar {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
}
.hidden-scroll-bar::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}
.scroll-video {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}
.post-item {
    scroll-snap-align: start;
}
input.video-progress {
    -webkit-appearance: none;
    height: 4px;

    cursor: pointer;
}

input.video-progress::-webkit-slider-runnable-track {
    height: 4px;
    background: linear-gradient(
        to right,
        #ef4444 var(--progress, 0%),
        #ffffff33 var(--progress, 0%)
    );
    border-radius: 9999px;
}

input.video-progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0px; /* ẩn thumb */
    height: 0px;
}

input.video-progress::-moz-range-track {
    height: 4px;
    background: linear-gradient(
        to right,
        #ef4444 var(--progress, 0%),
        #ffffff33 var(--progress, 0%)
    );
    border-radius: 9999px;
}

input.video-progress::-moz-range-thumb {
    width: 0px;
    height: 0px;
    background: transparent;
    border: none;
}
::-webkit-scrollbar-thumb {
    border-radius: 9999px;
  }